@inherits LayoutComponentBase

<div class="container-fluid">
  <div class="row vh-100">
    <aside id="navigation" class="navbar navbar-dark bg-dark flex-lg-column col-lg-auto">
      <ul class="navbar-nav flex-row flex-lg-column">
        <li class="nav-item px-3">
          <a class="navbar-brand" href="/">PiClimate Monitor</a>
        </li>

        <hr class="border-light w-100 d-none d-lg-block" />

        <li class="nav-item px-3">
          <NavLink class="nav-link" href="" Match="NavLinkMatch.All">Main</NavLink>
        </li>
      </ul>
    </aside>

    <main id="main" class="bg-light col-lg h-100">
      @Body
    </main>
  </div>
</div>
