@inherits LayoutComponentBase

<div class="sidebar">
  <div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">PiClimate Monitor</a>
  </div>

  <NavMenu />
</div>

<div class="main">
  <div class="top-row px-4">
  </div>

  <div class="content px-4">
    @Body
  </div>
</div>
