<Router AppAssembly="@typeof(Program).Assembly">
  @* Routed page component was found. *@
  <Found Context="routeData">
    <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@typeof(AppLayout)">
      <NotAuthorized Context="authenticationState">
        @if (authenticationState.User.Identity.IsAuthenticated)
        {
          @* Authenticated user is not allowed to access a routed page component. *@
          <div class="alert alert-warning text-center m-3">
            <div class="pb-3">
              You do not have access to this page.
            </div>
            <button class="btn btn-warning" onclick="history.back()">Back</button>
          </div>
        }
        else
        {
          @* Anonymous user needs authentication to access a routed page component. *@
          <div class="alert alert-warning text-center m-3">
            <div class="pb-3">
              You are not logged in.
            </div>
            <button class="btn btn-warning" onclick="history.back()">Back</button>
          </div>
        }
      </NotAuthorized>
    </AuthorizeRouteView>
  </Found>

  @* Routed page component was not found. *@
  <NotFound>
    <CascadingAuthenticationState>
      <LayoutView Layout="@typeof(AppLayout)">
        <div class="alert alert-info text-center m-3">
          <div class="pb-3">
            The requested page does not exist.
          </div>
          <button class="btn btn-info" onclick="history.back()">Back</button>
        </div>
      </LayoutView>
    </CascadingAuthenticationState>
  </NotFound>
</Router>
