@*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  Copyright © 2020 Maxim Yudin <stibiu@yandex.ru>
*@

@page "/Status/{Code:int}"
@model PiClimate.Monitor.Pages.Status
@{
  Layout = "_Layout";
}

<div class="alert alert-warning text-center">
  <div class="h1">
    @Model.Code
  </div>

  <div class="h4 my-4">
    @ReasonPhrases.GetReasonPhrase(Model.Code)
  </div>

  <div>
    <button class="btn btn-warning" onclick="history.back()">Back</button>
  </div>
</div>
