/*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  Copyright © 2020-2021 Maxim Yudin <stibiu@yandex.ru>
 */

.bottom-0
{
  bottom: 0 !important;
}

.empty::before,
.updating::before,
.failed::before
{
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  visibility: visible !important;
  content: "";
  z-index: 10000;
}

.empty::after,
.updating::after,
.failed::after
{
  display: block;
  position: absolute;
  top: calc(50% - 0.8em);
  left: 0;
  width: 100%;
  text-align: center;
  font-size: 1.5em;
  visibility: visible !important;
  content: "";
  z-index: 10001;
}

.empty::after
{
  color: darkcyan;
  content: attr(data-empty-notice);
}

.updating::after
{
  color: darkcyan;
  content: attr(data-updating-notice);
}

.failed::after
{
  color: darkred;
  content: attr(data-failed-notice) !important;
}

/*noinspection CssInvalidPseudoSelector*/
.updating ::deep *,
.failed ::deep *,
.empty ::deep *
{
  display: none;
  visibility: collapse;
}
