.text-date
{
  color: var(--time-color) !important;
}

.text-pressure
{
  color: var(--pressure-color) !important;
}

.text-temperature
{
  color: var(--temperature-color) !important;
}

.text-humidity
{
  color: var(--humidity-color) !important;
}
