@*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  Copyright © 2020-2021 Maxim Yudin <stibiu@yandex.ru>
*@

<div id="footer" class="text-center small text-secondary">
  Copyright © @CopyrightYears
  @Company
  <a href="@RepositoryUrl" class="nav-link d-inline" target="_blank">@RepositoryName</a>
</div>

@code
{
  /// <summary>
  ///   Defines the program creation year.
  /// </summary>
  const int CreationYear = 2020;

  /// <summary>
  ///   Defines the main repository URL.
  /// </summary>
  const string RepositoryUrl = @"https://github.com/Egiraht/PiClimate";

  /// <summary>
  ///   Defines the main repository name.
  /// </summary>
  const string RepositoryName = "GitHub";

  /// <summary>
  ///   Gets the company name (author) from the assembly info.
  /// </summary>
  string Company => Assembly.GetExecutingAssembly()
    .GetCustomAttribute<AssemblyCompanyAttribute>()
    ?.Company ?? "";

  /// <summary>
  ///   Gets the copyright years string.
  /// </summary>
  string CopyrightYears =>
    DateTime.Now.Year > CreationYear ? $"{CreationYear}-{DateTime.Now.Year}" : CreationYear.ToString();
}
