@import "bootstrap.min.css";
@import "Chart.min.css";

:root
{
  --time-color: dimgrey;
  --pressure-color: blue;
  --temperature-color: green;
  --humidity-color: red;
}

body
{
  min-width: 750px;
}

.dropdown-toggle::after
{
  border-top: 0;
  border-bottom: solid .3em;
}

.dropdown-toggle.collapsed::after
{
  border-top: solid .3em;
  border-bottom: 0;
}

.chart-canvas
{
  display: none;
}

.date
{
  color: var(--time-color) !important;
  border-color: var(--time-color) !important;
}

.pressure
{
  color: var(--pressure-color) !important;
  border-color: var(--pressure-color) !important;
}

.temperature
{
  color: var(--temperature-color) !important;
  border-color: var(--temperature-color) !important;
}

.humidity
{
  color: var(--humidity-color) !important;
  border-color: var(--humidity-color) !important;
}

.empty::before,
.updating::before,
.failed::before
{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.7);
  content: "";
  z-index: 10000;
}

.empty::after,
.updating::after,
.failed::after
{
  position: absolute;
  top: 50%;
  width: 100%;
  text-align: center;
  content: "";
  z-index: 10001;
}

.empty::after
{
  color: var(--info);
  content: attr(data-empty-notice);
}

.updating::after
{
  color: var(--info);
  content: attr(data-updating-notice);
}

.failed::after
{
  color: var(--danger);
  content: attr(data-failed-notice) !important;
}

.empty .chart-summary,
.updating .chart-summary,
.failed .chart-summary
{
  display: none;
}

@media (min-width: 992px)
{
  #nav-menu
  {
    flex-basis: 300px;
  }
}
