@*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  Copyright © 2020-2021 Maxim Yudin <stibiu@yandex.ru>
*@

<div class="text-center text-secondary small">
  @Strings.AppFooter_CreatedByNotice
  <a href="@Strings.AppFooter_RepositoryLink" class="nav-link d-inline p-0" target="_blank">
    @Strings.AppFooter_RepositoryName
  </a>
</div>
