@*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  Copyright © 2020 Maxim Yudin <stibiu@yandex.ru>
*@

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@nameof(PiClimate) @nameof(PiClimate.Monitor)</title>
    <base href="~/" />
    <link href="/css/style.css" rel="stylesheet" asp-append-version="true" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/moment-with-locales.min.js"></script>
    <script src="/js/Chart.min.js"></script>
    <script src="/js/Monitor.js" asp-append-version="true"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row flex-column flex-lg-row flex-nowrap vh-100">
        @* Navigation menu. *@
        <aside id="nav-menu" class="navbar navbar-dark bg-dark overflow-auto flex-lg-column flex-nowrap col-auto">
          <partial name="NavMenu" />

          @* Footer for narrow viewports. *@
          <div class="d-none d-lg-block mt-3">
            <partial name="Footer" />
          </div>
        </aside>

        @* Main content. *@
        <main id="main" class="bg-light overflow-auto col py-3">
          @RenderBody()
        </main>

        @* Footer for wide viewports. *@
        <div class="d-block d-lg-none flex-grow-0 flex-shrink-0 bg-dark py-2">
          <partial name="Footer" />
        </div>
      </div>
    </div>
  </body>
</html>
