<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no" />
    <title>@nameof(PiClimate) @nameof(PiClimate.Monitor)</title>
    <base href="~/" />
    <link href="/css/style.css" rel="stylesheet" />
    <script src="/js/jquery.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src="/js/Chart.bundle.min.js"></script>
  </head>

  <body>
    <div class="container-fluid">
      <div class="row flex-lg-nowrap align-items-start align-items-lg-stretch vh-100">
        @* Navigation menu. *@
        <aside id="nav-menu" class="navbar navbar-dark bg-dark overflow-auto flex-lg-column col-lg-3">
          <partial name="NavMenu" />
        </aside>

        @* Main content. *@
        <main id="main" class="bg-light overflow-auto col-lg-9 h-100">
          @RenderBody()
        </main>
      </div>
    </div>
  </body>
</html>
