@model ChartParameters

<div class="chart position-relative">
  <canvas id="@Model.ChartId" class="chart-canvas"></canvas>
  <script>
    let chart = new PiClimate.Monitor.ChartControl(@Json.Serialize(Model));
    chart.updateChart();
  </script>
</div>
