@model ChartParameters

<div class="chart position-relative">
  <canvas id="@Model.ChartId" class="chart-canvas"></canvas>
  <script>
    let chartParameters = @Json.Serialize(Model);
    let chart = new PiClimate.Monitor.ChartControl(chartParameters);
    chart.updateChart();
  </script>
</div>
