@*
  This Source Code Form is subject to the terms of the Mozilla Public
  License, v. 2.0. If a copy of the MPL was not distributed with this
  file, You can obtain one at http://mozilla.org/MPL/2.0/.

  Copyright © 2020 Maxim Yudin <stibiu@yandex.ru>
*@

@using System.Reflection

@{
  var company = Assembly.GetExecutingAssembly()
    .GetCustomAttribute<AssemblyCompanyAttribute>()
    ?.Company ?? "";

  var creationYear = 2020;
  var repositoryUrl = "https://github.com/Egiraht/PiClimate";
}

<div id="footer" class="text-center small text-secondary">
  Copyright © @creationYear@(DateTime.Now.Year > creationYear ? $"-{DateTime.Now.Year}" : "")
  @company
  <a href="@repositoryUrl" class="nav-link d-inline">GitHub</a>
</div>
